#back-to-top {
  display: none;
  font-size: 3rem;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 99;
  color: white;
  cursor: pointer;
  transition: var(--transition-speed-medium);
}

#back-to-top:hover {
  color: var(--red);
}
