.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 5rem;
}

.header > h1 > a{
  transition: var(--transition-speed-fast);
}

.header > h1 > a:hover {
  color: var(--red)
}

.nav > ul {
  display: flex;
}

.nav > ul > li {
  cursor: pointer;
  margin: 0 1rem;
}

.nav > ul > li > a {
  transition: var(--transition-speed-fast);
}

.nav > ul > li > a:hover {
  color: #FF494B;
}

.mobile-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgb(0,0,0);
  overflow-x: hidden;
  transition: var(--transition-speed-fast);
}

.mobile-nav > ul {
  text-align: center;
  margin-top: 20rem;
}

.mobile-nav > ul > li {
  font-size: 2rem;
  margin: 2rem 0;
}

.mobile-nav > ul > li > a {
  transition: var(--transition-speed-fast);
}

.mobile-nav > ul > li > a:hover {
  color: var(--red);
}


@media only screen and (max-width: 750px) {
  .header {
    justify-content: center;
  }

  .nav {
    display: none;
  }
}

@media only screen and (max-width: 900px) {
  .header {
    margin: 1rem 2rem;
  }
}
