:root {
  --bg-primary: #121212;
  --bg-secondary: #1F1F1F;
  --text-primary: white;

  --transition-speed-slow: 600ms;
  --transition-speed-medium: 300ms;
  --transition-speed-fast: 200ms;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  color: var(--text-primary);
}

body {
  background-color: var(--bg-primary);
}

section {
  margin: 5rem 0;
}

.headline {
  text-align: center;
  margin: 10rem 0;
}

.project-types {
  display: flex;
  justify-content: center;
}

.project-types > li {
  margin: 0 1rem;
  cursor: pointer;
}

/* small screen */
@media only screen and (max-width: 600px) {
  #headline-title {
    font-size: 1.7rem;
  }

  #headline-subtitle {
    font-size: 1rem;
    margin-top: 1rem;
    opacity: .8;
  }
}

/* large screen */
@media only screen and (min-width: 600px) {
  #headline-title {
    font-size: 2.5rem;
  }

  #headline-subtitle {
    margin-top: 1rem;
    font-size: 1.3rem;
    opacity: .8;
  }
}
