@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

:root {
  --bg-primary: #121212;
  --bg-secondary: #1F1F1F;
  --text-primary: white;

  --transition-speed-slow: 500ms;
  --transition-speed-medium: 300ms;
  --transition-speed-fast: 200ms;

  --red: #FF494B;
  --blue: rgb(100, 149, 237);
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  color: var(--text-primary);
  scroll-behavior: smooth;
  font-family: 'Nunito', sans-serif;
}

body {
  background-color: var(--bg-primary);
}

section {
  margin: 8rem 0;
}

.headline {
  text-align: center;
  padding: 5rem 0;
  margin: 0 3rem;
}

.headline-background {
  position: absolute;
}

.headline-background > i {
  font-size: 2rem;
}

.socials {
  position: absolute;
  top: 0;
  right: 1rem;
  writing-mode: vertical-lr;
  margin-top: 5rem;
}

.socials > ul {
  display: flex;
}

.socials > ul > li {
  margin-top: 1rem;
}

.socials > ul > li > a {
  opacity: .7;
  transition: var(--transition-speed-fast);
}

.socials > ul > li > a:hover {
  opacity: 1;
}

.project-types {
  display: flex;
  justify-content: center;
}

.project-types > li {
  margin: 0 1rem;
  cursor: pointer;
}

#about {
  margin: 0 10rem;
}

#about > h1 {
  margin: 0 3rem;
  margin-bottom: 2rem;
}

.about {
  display: flex;
  margin: 0 3rem;
  justify-content: space-between;
}

.about-headline {
  width: 30%;
}

.about-headline > button {
  cursor: pointer;
  margin-top: 2rem;
  border-radius: 5px;
  font-size: 1.2rem;
  padding: .5rem 2rem;
  border: solid 3px transparent;
  background-image: none, linear-gradient(100deg, var(--red), orange);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px var(--bg-primary) inset;
  transition: var(--transition-speed-fast);
  outline: none;
  color: var(--red);
}

.about-headline > button:hover {
  box-shadow: none;
  color: black;
}

.about-description {
  display: flex;
  width: 60%;
  font-size: 14px;
}

.about-description > p {
  margin: 0 1rem;
  opacity: .7;
  font-size: 1.1rem;
}

/* small screen */
@media only screen and (max-width: 1032px) {
  #about {
    margin: 0 5rem;
  }
}

@media only screen and (max-width: 880px) {
  #about > h1 {
    text-align: center;
    font-size: 2rem;
  }

  .about {
    flex-direction: column;
  }
  
  .about-headline, .about-description {
    width: 100%;
    text-align: center;
  }
  
  .about-description {
    flex-direction: column;
    margin-top: 2rem;
  }
  
  .about-description > p {
    margin-top: 1rem;
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 600px) {
  #headline-title {
    font-size: 1.7rem;
  }

  #headline-subtitle {
    font-size: 1rem;
    margin-top: 1rem;
    opacity: .8;
  }
}

/* large screen */
@media only screen and (min-width: 600px) {
  #headline-title {
    font-size: 2.5rem;
  }

  #headline-subtitle {
    margin-top: 1rem;
    font-size: 1.3rem;
    opacity: .8;
  }
}
