/* imports */
@import url('https://fonts.googleapis.com/css?family=Rokkitt&display=swap');

/* globals */
*
{
    background: black;
    color: white;
    padding: none;
}

a
{
    text-decoration: none;
}

#ie-warning
{
    color: red;
}

/* client info upon connect */
#guest-connection
{
    color: red;
    font-family: 'Rokkitt', serif;
}

/* terminal */
.terminal
{
    display: inline;
    margin: 0;
}

hr
{
    border-style: none;
    margin: 0%;
}

#command-line, #command-line:focus
{
    border: none;
    outline: none;
    caret-color: red;
}

#path
{
    padding-right: 8px;
    color: #CCCCCC;
}

/* output */
#ls-dir
{
    color: #3ec92e;
}

.ls-out
{
    display: inline-flex;
    padding-right: 4%;
}

/*  */
/* make cd projects/ work not just cd projects */
/*  */