body
{
    background: black;
    color: white;
}

#guest-connection
{
    color: #3ec92e;
}

.terminal
{
    /* position: relative; */
    display: inline-flex;
}

#path
{
    padding-right: 10px;
}

#command-line
{
    caret-color: red;
    height: 5%;
}

hr
{
    border-style: none;
}

#ls-dir
{
    color: #3ec92e;
}

.ls-out
{
    /* display: inline-flex; */
}

a
{
    text-decoration: none;
}