.tiles {
    position: relative;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: minmax(100px, auto);
    margin: 40px;
    grid-auto-flow: dense;
    grid-gap: 10px;
}

.tile {
    background: var(--bg-secondary);
    padding: 20px;
    display: grid;
    font-size: 20px;
    place-items: center;
    text-align: center;
    color: #fff;
    transition: 300ms;
    animation: fade-in 1s;
}

.tile:hover {
    background: cornflowerblue;
}

.content > img {
    position: relative;
    max-width: 8rem;
    margin: 2rem 0;
}

.tile:nth-child(n) {
    grid-column: span 2;
    grid-row: span 1;
}

.tile:nth-child(2n) {
    grid-column: span 1;
    grid-row: span 2;
}

@media (max-width: 991px) {
    .tiles {
        grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
        grid-template-rows: minmax(auto, auto);
    }

    .tile {
        grid-column: unset !important;
        grid-row: unset !important;
    }
}