.timeline {
  position: relative;
  margin: 0 auto;
  padding: 40px 0;
}

.timeline::before {
  content: "";
  position: absolute;
  left: 50%;
  width: 2px;
  height: 100%;
  background: white;
}

.timeline > ul > li {
  line-height: normal;
  position: relative;
  width: 50%;
  padding-left: 20px 40px;
  box-sizing: border-box;
  padding: 30px;
}

@media (max-width: 991px) {
  .timeline > ul > li {
    text-align: right;
  }
  
  .timeline > ul > li::before {
    content: "";
    position: absolute;
    top: 40px;
    right: -6px;
    width: 10px;
    height: 10px;
    background: rgb(100, 149, 237);
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgb(100, 149, 237, .2);
  }
  
  .time > p{
    font-size: 1.2rem;
  }
  
  .timeline > ul > li > .time{
    position: absolute;
    top: 30px;
    right: -110px;
    padding: 5px 8px;
    background: rgb(100, 149, 237);
    border-radius: 18px;
  }
}

@media (min-width: 991px) {
  .timeline > ul > li:nth-child(odd) {
    float: left;
    text-align: right;
    clear: both;
  }
  
  .timeline > ul > li:nth-child(even) {
    float: right;
    text-align: left;
    clear: both;
  }
  
  .timeline > ul > li:nth-child(odd)::before {
    content: "";
    position: absolute;
    top: 40px;
    right: -6px;
    width: 10px;
    height: 10px;
    background: rgb(100, 149, 237);
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgb(100, 149, 237, .2);
  }
  
  
  .timeline > ul > li:nth-child(even)::before {
    content: "";
    position: absolute;
    top: 40px;
    left: -4px;
    width: 10px;
    height: 10px;
    background: rgb(100, 149, 237);
    border-radius: 50%;
    box-shadow: 0 0 0 3px rgb(100, 149, 237, .2);
  }
  
  .time > p{
    font-size: 1rem;
  }
  
  .timeline > ul > li:nth-child(odd) > .time{
    position: absolute;
    top: 30px;
    right: -110px;
    padding: 5px 8px;
    background: rgb(100, 149, 237);
    border-radius: 18px;
  }
  
  .timeline > ul > li:nth-child(even) > .time{
    position: absolute;
    top: 30px;
    left: -110px;
    padding: 5px 8px;
    background: rgb(100, 149, 237);
    border-radius: 18px;
  }  
}