---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card'
---

<Layout title='Blog - Vijay Stroup'>
  <h1 class='mb-8 text-3xl font-bold text-center'>Blog</h1>
  <ol class='space-y-8'>
    <Card
      date='08/21/22'
      title='Hello World'
      description='First blog post.'
      blog={'hello-world'}
    />
  </ol>
</Layout>
