---
import Layout from '../layouts/Layout.astro'
---

<Layout title='Vijay Stroup'>
  <p>
    Hi, I'm Vijay. I'm currently a student at the University of Central Florida.
    I am a Pre-Med student with Bachelors of Sciences in Physics and Computer
    Science.

    <br /><br />

    I have a passion for entrepreneurship and am always thinking of new things
    to build. I am self taught in the languages and tools I use to make things.
    My main programming languages are Python and Typescript. I utilize these
    languages and frameworks/libraries built on top of them to make an array of
    different applications. <a href='/projects' class='underline'
      >Check out my projects here.
    </a>

    <br /><br />

    I am always looking to learn new things and expand my knowledge. I am
    currently trying to launch a startup called <a
      href='https://gator.sh/'
      target='_blank'
      rel='noopener noreferrer'
      class='underline'
      >Gator.
    </a>

    <br /><br />

    There are many things I would like to do. I'm just getting started.
  </p>

  <button
    class='flex px-2 py-1 mx-auto mt-4 text-xl rounded shadow-md bg-slate-100'
    ><a href='/resume'>Resume</a>
  </button>
</Layout>
