---
import Layout from '../layouts/Layout.astro'
---

<Layout title='Welcome to Astro.'>
  <p>
    Hi, I'm Vijay. I'm currently a student at the University of Central Florida.
    I am majoring in Physics and Computer Science with a minor in Mathematics
    declared as a Pre-Med.

    <br /><br />

    I have a passion for entrepreneurship and am always thinking of new things
    to build. I am self taught in the languages and tools I use to make things.
    My main programming languages are Python and Typescript. I utilize these
    languages and frameworks/libraries built on top of them to make an array of
    different applications. <a href='/projects' class='underline'
      >Check out my projects here.
    </a>

    <br /><br />

    Although I am on a mission to become a surgeon, my love for programming has
    not diminished. I am always looking to learn new things and expand my
    knowledge.

    <br /><br />

    There are many things I would like to do. I'm just getting started.
  </p>

  <button
    class='flex mx-auto bg-slate-100 px-2 py-1 rounded shadow-md mt-4 text-xl'
    ><a href='/resume'>Resume</a>
  </button>
</Layout>
