---
import Layout from '../layouts/Layout.astro'
---

<Layout title='Resume - Vijay Stroup'>
  <h1 class='mb-8 text-3xl font-bold text-center'>Resume</h1>
  <iframe src='/resume.pdf' class='w-full'></iframe>
</Layout>

<style>
  iframe {
    height: 75vh;
  }
</style>
