---
import Layout from '../layouts/Layout.astro'
---

<Layout title='Welcome to Astro.'>
  <h1 class='text-center font-bold text-3xl mb-8'>Resume</h1>
  <iframe src='/resume.pdf' class='w-full'></iframe>
</Layout>

<style>
  iframe {
    height: 75vh;
  }
</style>
