<header class='justify-between mt-4 text-center md:flex'>
  <h1 class='mb-4 text-3xl font-bold'>Vijay</h1>
  <nav>
    <ul class='flex justify-center space-x-4'>
      <li><a href='/'>Home</a></li>
      <li><a href='/projects'>Projects</a></li>
      <li><a href='/blog'>Blog</a></li>
    </ul>
  </nav>
</header>
