<header class='flex justify-between mt-4'>
  <h1>Vijay</h1>
  <nav>
    <ul class='flex space-x-4'>
      <li><a href='/'>Home</a></li>
      <li><a href='/projects'>Projects</a></li>
      <li><a href='/blog'>Blog</a></li>
    </ul>
  </nav>
</header>
