<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-154671018-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-154671018-1');
    </script>

    <title>Vijay Stroup</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta name="description" content="Student and programmer. Currently a student at UCF.">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon-16x16.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon-32x32.png') }}">

    <meta name=”robots” content="index, follow">


    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tools.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/tiles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/timeline.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/terms.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/back_to_top.css') }}">

    <script type="text/javascript" src="{{ url_for('static', filename='js/tiles.js') }}" defer></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/backToTop.js') }}" defer></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  </head>

  <body>
    <header>{% include "header.html" %}</header>
    <main>{% block main %}{% endblock %}</main>
    <i id="back-to-top" class="fas fa-arrow-circle-up"></i>
    <footer>{% include "footer.html" %}</footer>
  </body>
</html>
