<div class="footer-headline">
  <h1>Vijay Stroup</h1>
  <p style="color: var(--blue);">v3.1</p>
</div>
<div class="footer-nav">
  <h1 class="footer-title">Navigation</h1>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="#projects">Projects</a></li>
    <li><a href="#about">About</a></li>
    <li><a href="#timeline">Timeline</a></li>
    <li><a href="/vijaystroupCOM/terms">Terms</a></li>
  </ul>
</div>
<div class="contact">
  <h1 class="footer-title">Say Hi</h1>
  <ul>
    <li>Email: <span style="color: var(--red);">vijay@vijaystroup.com</span></li>
    <li>Phone: 813 421 0810</li>
  </ul>
</div>
<div class="footer-socials">
  <h1 class="footer-title">Socials</h1>
  <ul>
    <li><a href="https://github.com/VijayStroup" target="_blank">GitHub</a></li>
    <li><a href="https://www.linkedin.com/in/vijaystroup/" target="_blank">LinkedIn</a></li>
    <li><a href="https://www.youtube.com/channel/UCQn-qbKA0xBH5CJ-sqI8HnQ" target="_blank">YouTube</a></li>
  </ul>
</div>
