<div class="header">
  <h1><a href="/">Vijay Stroup</a></h1>
  <button id="ham" class="hamburger hamburger--emphatic" type="button">
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
  </button>
  <div class="nav">
    <ul>
      <li><a href="#projects">Projects</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#timeline">Timeline</a></li>
    </ul>
  </div>
</div>
<div id="mobile-nav" class="mobile-nav">
  <ul>
    <li><a id="m-projects-btn" href="#projects">Projects</a></li>
    <li><a id="m-about-btn" href="#about">About</a></li>
    <li><a id="m-timeline-btn" href="#timeline">Timeline</a></li>
  </ul>
</div>
