{% extends "layout.html" %}

    {% block content %}
        <script type="text/javascript">
            function jinja_to_js(data){
                return data;
            }
            const help_txt = jinja_to_js({{help_text|tojson}});
            const about_txt = jinja_to_js({{about_text|tojson}});
            const contact_txt = jinja_to_js({{contact_text|tojson}});
            const cupid_txt = jinja_to_js({{cupid_text|tojson}});
            const offlinepass_txt = jinja_to_js({{offlinepass_text|tojson}});
            const vijaystroupCOM_txt = jinja_to_js({{vijaystroupCOM_text|tojson}});
            const file_tree = jinja_to_js({{file_tree|tojson}});
        </script>

        <div class="content">
            <p class="terminal" id="path">guest@vijaystroup.com:~$</p>
            <input type="text" class="terminal" id="command-line" spellcheck="false" autofocus>
        </div>
    {% endblock content %}
