<div class="timeline">
  <ul>
    <li>
      <div class="entry">
        <h2>Cupid</h2>
        <p>I'm baby squid lomo keytar fanny pack aesthetic messenger bag hammock bespoke hell of church-key artisan farm-to-table migas.</p>
      </div>
      <div class="time">
        <p>April 2020</p>
      </div>
    </li>
    <li>
      <div class="entry">
        <h2>Cupid</h2>
        <p>I'm baby squid lomo keytar fanny pack aesthetic messenger bag hammock bespoke hell of church-key artisan farm-to-table migas.</p>
      </div>
      <div class="time">
        <p>April 2020</p>
      </div>
    </li>
    <li>
      <div class="entry">
        <h2>Cupid</h2>
        <p>I'm baby squid lomo keytar fanny pack aesthetic messenger bag hammock bespoke hell of church-key artisan farm-to-table migas.</p>
      </div>
      <div class="time">
        <p>April 2020</p>
      </div>
    </li>
  </ul>
</div>
