/* imports */
@import url('https://fonts.googleapis.com/css?family=Rokkitt&display=swap');

/* globals */
*
{
    background: black;
    color: white;
    padding: none;
    font-size: initial;
}

a
{
    text-decoration: none;
}

#ie-warning
{
    color: red;
}

/* client info upon connect */
#guest-connection
{
    color: red;
    font-family: 'Rokkitt', serif;
}

/* terminal */
.terminal
{
    display: inline;
    margin: 0;
}

hr
{
    border-style: none;
    margin: 0%;
}

#command-line, #command-line:focus
{
    border: none;
    outline: none;
    caret-color: red;
    font-size: 18px;
}

#path
{
    padding-right: 8px;
    color: #CCCCCC;
}

/* output */
#ls-dir
{
    color: #3ec92e;
}

.ls-out
{
    display: inline-flex;
    padding-right: 4%;
}

/* mobile */
@media screen and (max-width: 1024px)
{
    *
    {
        font-size: x-small;
    }

    input[type="color"],
    input[type="date"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="email"],
    input[type="month"],
    input[type="number"],
    input[type="password"],
    input[type="search"],
    input[type="tel"],
    input[type="text"],
    input[type="time"],
    input[type="url"],
    input[type="week"],
    select:focus,
    input:focus,
    textarea
    {
        font-size: 18px;
    }

    #path
    {
        font-size: 14px;
    }

    .ls-out
    {
        font-size: 16px;
    }
}
